trigger: none

pool:
  name: mera-pool

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: path
  value: $(System.DefaultWorkingDirectory)\Environment\${{ parameters.environment }}

stages:
- stage: Terraform
  displayName: Terraform CI
  jobs:
  - job: TerraformJob
    displayName: Terraform Flow
    steps:
 
    - task: CmdLine@2
      displayName: testing alpha charle 1 2 3 . . .
      inputs:
        script: |         
          echo testing alpha charle 1 2 3 . . . 

    # - task: TerraformInstaller@1
    #   inputs:
    #     terraformVersion: 'latest'

    - task: PowerShell@2
      displayName: TFlint
      inputs:
        targetType: 'inline'
        script: |
          cd $(System.DefaultWorkingDirectory)
          tflint --recursive

    # - task: CmdLine@2
    #   displayName: Run TFLint
    #   inputs:
    #     script: |
    #       echo "Running TFLint..."
          
    #       tflint --recursive D:\tflint_windows_386
    # - task: PowerShell@2
    #   continueOnError: true
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       winget install TerraformLinters.tflint     
    #       ls   
    #       tflint
    #     errorActionPreference: 'continue'        
    #     workingDirectory: '$(path)'

    # - task: TerraformTask@5
    #   displayName: Init...
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'init'
    #     workingDirectory: '$(path)'
    #     backendAzureRmStorageAccountName: 'stglactab'
    #     backendAzureRmContainerName: 'cntrlab'
    #     backendAzureRmKey: '${{ parameters.environment }}.tfstate'