trigger: none

pool: mera-pool

# variables: 
#   path: $(System.DefaultWorkingDirectory)\Environment\dev

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: path
  value: $(System.DefaultWorkingDirectory)\Environment\${{ parameters.environment }}


stages:
- stage: 
  jobs:
  - job: letsbegin
    displayName: Start
    steps:
    - task: PowerShell@2
      displayName: Agent sanity check
      inputs:
        targetType: 'inline'
        script: |
          C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -Command "whoami"
            displayName: PowerShell full path test

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(path)'
        backendServiceArm: 'new-service'
        backendAzureRmStorageAccountName: 'stglactab'
        backendAzureRmContainerName: 'cntrlab'
        backendAzureRmKey: '${{ parameters.environment }}.tfstate'

  - job: terraformplan
    dependsOn: letsbegin
    displayName: Terraform Plan
    steps:
    - task: TerraformTask@5
      displayName: Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(path)'
        backendServiceArm: 'new-service'
        backendAzureRmStorageAccountName: 'stglactab'
        backendAzureRmContainerName: 'cntrlab'
        backendAzureRmKey: '${{ parameters.environment }}.tfstate'

    - task: TerraformTask@5
      displayName: Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(path)'
        environmentServiceNameAzureRM: 'new-service'