trigger: none

pool:
  name: mera-pool

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: path
  value: $(System.DefaultWorkingDirectory)\Environment\${{ parameters.environment }}

stages:
- stage: Terraform
  displayName: Terraform CI
  jobs:
  - job: TerraformJob
    displayName: Terraform Flow
    steps:
    # - task: PowerShell@2
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       # Write your PowerShell commands here.
    #       Write-Host "Hello World"

    - task: CmdLine@2
      inputs:
        script: |         
          echo testing alpha charle 1 2 3 . . . 

    # - task: TerraformInstaller@1
    #   inputs:
    #     terraformVersion: 'latest'

    # - task: PowerShell@2
    #   displayName: TFlint
    #   inputs:
    #     targetType: 'inline'
    #     script: |
    #       cd $(System.DefaultWorkingDirectory)
    #       tflint --recursive

    - task: CmdLine@2
      inputs:
        script: |
          cd $(System.DefaultWorkingDirectory)
          tflint --recursive

    # - task: TerraformTask@5
    #   displayName: Init...
    #   inputs:
    #     provider: 'azurerm'
    #     command: 'init'
    #     workingDirectory: '$(path)'
    #     backendAzureRmStorageAccountName: 'stglactab'
    #     backendAzureRmContainerName: 'cntrlab'
    #     backendAzureRmKey: '${{ parameters.environment }}.tfstate'