trigger: none

pool: mera-pool

# variables: 
#   path: $(System.DefaultWorkingDirectory)\Environment\dev

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: path
  value: $(System.DefaultWorkingDirectory)\Environment\${{ parameters.environment }}


stages:
- stage: 
  jobs:
  - job: letsbegin
    displayName: Start
    steps:
    - task: CmdLine@2
      inputs:
        script: |
          echo Installing Terraform using PowerShell exe...
          C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -Command ^
          "Invoke-WebRequest https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_windows_amd64.zip -OutFile terraform.zip; ^
          Expand-Archive terraform.zip -DestinationPath . -Force; ^
          Move-Item terraform.exe C:\Windows\System32\ -Force"
          terraform version

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(path)'
        backendServiceArm: 'new-service'
        backendAzureRmStorageAccountName: 'stglactab'
        backendAzureRmContainerName: 'cntrlab'
        backendAzureRmKey: '${{ parameters.environment }}.tfstate'

  - job: terraformplan
    dependsOn: letsbegin
    displayName: Terraform Plan
    steps:
    - task: TerraformTask@5
      displayName: Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(path)'
        backendServiceArm: 'new-service'
        backendAzureRmStorageAccountName: 'stglactab'
        backendAzureRmContainerName: 'cntrlab'
        backendAzureRmKey: '${{ parameters.environment }}.tfstate'

    - task: TerraformTask@5
      displayName: Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(path)'
        environmentServiceNameAzureRM: 'new-service'