trigger: none

pool: mera-agent-pool

# variables: 
#   path: $(System.DefaultWorkingDirectory)\Environment\dev

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
- name: path
  value: $(System.DefaultWorkingDirectory)\Environment\${{ parameters.environment }}


jobs:
- job: terraforminit
  displayName: Terraform init
  steps:
  - task: TerraformInstaller@1
    displayName: Install
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(path)'
      backendServiceArm: 'new-service'
      backendAzureRmStorageAccountName: 'stglactab'
      backendAzureRmContainerName: 'cntrlab'
      backendAzureRmKey: '${{ parameters.environment }}.tfstate'

- job: terraformplan
  dependsOn: terraforminit
  displayName: Terraform Plan
  steps:
  - task: TerraformTask@5
    displayName: Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(path)'
      backendServiceArm: 'new-service'
      backendAzureRmStorageAccountName: 'stglactab'
      backendAzureRmContainerName: 'cntrlab'
      backendAzureRmKey: '${{ parameters.environment }}.tfstate'

  - task: TerraformTask@5
    displayName: Plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(path)'
      environmentServiceNameAzureRM: 'new-service'